header {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
   
    padding: 10px 0;
}

body {
	margin: auto;
	max-width: 1440px;
} 



.logo_wrapper
{
	border-top: 5px transparent;
}

.nav_wrapper
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}



.nav_item 
{ 
	display: flex;
    justify-content: center;
    align-items: center;

	text-align: center;
	color: black;
	border-top: 5px solid transparent;
	padding: 0 10px;
	
}

.nav_item:hover
{
	border-top: 5px solid #0065FC;
	color: #0065FC ;
}




a
{
	list-style: none;
	text-decoration: none;
}


body
{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2;
    color: black;
    margin: 0 10rem;
    
}


@media screen and (max-width: 640px) {
	header
	{
      grid-template : "a a a b c d" auto
  					  "e e e f f f" auto
	  ;
	}

	.logo_wrapper 
	{
		grid-row: 1;
		grid-column: 1/4;
	}

	.nav_item:nth-of-type(1) {
        grid-row: 2;
        grid-column: 1/4;
    }

    .nav_item:nth-of-type(2) {
        grid-row: 2;
        grid-column: 4/7;
    }

    .nav_item:nth-of-type(3) {
        grid-row: 1;
        grid-column: 4/7;
        justify-content: flex-end;

    }

    .nav_item:hover
{
	border-top: none;
	border-bottom: 5px solid #0065FC;
	
}
.nav_item:nth-of-type(3):hover {
border-bottom: none;
}
body {
	margin: 0 1rem;
} 



}
	
	